{% layout "layout.liquid" %}
{% block content %}

<div>
    <h2 class="display-6">All Golf Courses</h2>
    <div class="row">
        {% for course in courses %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ course.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Location: {{ course.location }}
                </h5>
                <img src="{{ course.image }}" class="img-thumbnail" alt="{{ course.name }}">
                <p class="card-text">
                    Par: {{ course.par }}
                </p>
                <a href="/courses/{{ course.id }}" class="btn btn-info">
                    View {{ course.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}