{% layout "layout.liquid" %}
{% block content %}

<div class="container-md">
    <article>
        <h2>
            {{ course.name }}
        </h2>
        <h3>Location: {{ course.location }}</h3>
        <h6> Par: {{ course.par }}</h6>
        <img src="{{ course.image }}" alt="{{ course.name }}">
        {% if course.owner == userId  %}
        <div class="btn-group">
            <a href="/courses/{{ course.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/courses/{{ course._id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete Course" class="btn btn-danger">
            </form>
        </div>
    {% endif %}
    </article>
    <div class="col-md-6">
        <form action="/rounds/{{ course.id }}" method="POST">
            <fieldset>
                <legend>Add Round</legend>
                <label class="form-label">Date:</label>
                <input type="text" name="date" placeholder="enter date here">
                <label class="form-label">Score:</label>
                <input type="text" name="score" placeholder="enter score here">
                <label class="form-label">Details:</label>
                <input type="text" name="details" placeholder="enter any details you wish">
            </fieldset>
            
            <input type="submit" class="btn btn-success" value="Add Round">
        </form>
    </div>
    {% if course.rounds.length > 0%}
            <!-- here we'll add our round container -->
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- here we need to loop over the rounds -->
                    <!-- for every round render a round.liquid block -->
                    {% for round in course.rounds %}
                        {% render '../rounds.liquid', round: round, userId: userId, course: course %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}